// NavBar pos Control
.top-navbar {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 65px;
    div {
        padding: 0.5rem;
    }
}

.top-navbar__logo {
    width: 5%;
    margin-left: 3%;
}

.top-navbar__links {
    width: 70%;
    margin-left: 10%;
    padding-left: 0.5rem;
    ul {
        display: flex;
        flex-wrap: nowrap;
        padding: 0.5em;
    }
    ul li {
        padding-left: 10%;
    }
}

// DropDown Menu (links)
.culture-dropdown__links {
    display: flex;
    display: none;
    position: absolute;
    min-width: 40%;
    max-width: 100%;
    padding: 5%;
}

.culture-dropdown {
    height: 65px;
}

.culture-dropdown:hover .culture-dropdown__links {
    display: block;
}

.explore-japan-image {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 990px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}