.japanese-background {
    width: 100%;
    height: 10000px;
}

.main-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 10.75%);
    grid-column-gap: 2%;
    div {
        grid-column-start: 2;
        grid-column-end: 8;
    }
}