* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.left-side-menu {
    position: fixed;
    width: 20%;
    height: 100%;
    float: left;
    border: 1px solid black;
    .menu_image {
        img {
            width: 100%;
            height: auto;
        }
    }
    .content {
        h3 {
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
        }
        .content-list {
            font-size: 18px;
            padding-top: 15px;
            padding-left: 10px;
            ul li {
                padding-top: 3px;
                list-style-type: none;
                ul li {
                    padding-top: 3px;
                    padding-left: 10px;
                }
                a {
                    color: black;
                    text-decoration: none;
                }
                a:hover {
                    color: rgb(121, 2, 2);
                }
            }
        }
        .back-to-global-menu {
            padding-top: 25%;
            font-size: 18px;
            text-align: center;
            a {
                color: black;
                text-decoration: none;
            }
            a:hover {
                color: rgb(121, 2, 2);
                text-decoration: underline;
            }
        }
    }
}