* {
    margin: 0;
    padding: 0;
}

.test {
    border: 1px solid black;
    margin-top: 75px;
    margin-left: 10%;
    margin-right: 10%;
    .test__title {
        padding-top: 25px;
        text-align: center;
    }
    .test__instruction {
        padding-left: 15%;
        padding-top: 25px;
        font-weight: bold;
    }
    .test__question {
        padding-left: 15%;
        padding-top: 10px;
        .answers {
            display: flex;
            p {
                padding-right: 5%;
            }
        }
    }
    .test__control {
        display: flex;
        padding-top: 40px;
        padding-left: 30%;
        padding-right: 40%;
        input[type="reset"] {
            width: 75px;
            height: 30px;
            font-size: 16px;
            background-color: white;
            border: 1px solid black;
            cursor: pointer;
        }
        input[type="reset"]:hover {
            background-color: rgb(223, 223, 223);
        }
    }
}

.control__reset {
    button {
        margin-top: -10px;
        margin-left: 25%;
        position: absolute;
        width: 75px;
        height: 30px;
        font-size: 16px;
        background-color: white;
        border: 1px solid black;
        cursor: pointer;
    }
}

button:hover {
    background-color: rgb(223, 223, 223);
}

.results {
    padding-top: 50px;
    text-align: center;
}

.lab3-menu {
    text-align: center;
    padding-top: 75px;
    padding-bottom: 5px;
    a {
        color: black;
        text-decoration: none;
    }
    a:hover {
        color: rgb(121, 2, 2);
        text-decoration: underline;
    }
}