* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    column-gap: 1.5%;
    text-align: center;
    .header__logo {
        width: 9.86%;
    }
    .header__link-learn {
        width: 9.86%;
    }
    .header__link-exercises {
        width: 9.86%;
    }
    .header__link-examples {
        width: 9.86%;
    }
    .header__search-bar {
        width: 32.43%;
    }
    .header__register-login {
        width: 21.18%;
    }
}

.about-it {
    color: black;
}

footer {
    width: 100%;
    height: 200px;
}